
.header {
	margin: 0 auto;
	padding: 8px;
}

.logo {
	width: 10%;
	float: left;
}

.logo p {
	margin-top: 16px;
	margin-left: 23px;
	font-size: 25px;
	text-transform: uppercase;
	font-family: "Montserrat-Bold";
	font-weight: 800;
}

.navigation {
	width: 54%;
	float: left;
	font-family: "Montserrat-Regular";
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 13px;
	letter-spacing: .06em;

}

.navigation a {
	text-decoration: none;
	color: #777;
}

.navigation a:hover {
	color: black;
}
.navigation li {
	display: inline;
	color: #d3d3d3
}

.header-images {
	float: right;
	width: 30%;
	text-decoration: none;
	text-align: right;
	margin-top: 13px;

}
.header-images img {
	width: 20px;

}
.header-images a {
	margin: 0px 2px 0px 2px;
}
.clearfix {
	clear: both;
}

.banner {
	position: relative;
	width: 100%;
	height: 500px;
}

.banner img {
	width: 100%;
	height:500px;
	margin: 0px;
	position: absolute;
	z-index: -1;
	float: left;
}

.banner-text p {
	position: absolute;
	text-align: center;
	top: 140px;
    left:0;
    right:0;
    bottom:0;
    height: 50px;
    font-size:62px;
    font-family: "Montserrat-UltraLight";
    color: #FFFFFF;
}

.middle-text {
	text-align: center;
	font-size: 32px;
	padding: 75px 45px 75px 45px;
	line-height: 1.6em;
	margin: 0px 17px 0px 17px;
	border-bottom: solid #D3D3D3 1px;

}

.middle-text p {
	font-family:"Montserrat-UltraLight"

}

.wrapper {
	width: 1000px;
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	font-family: "Montserrat-UltraLight";
	
}

.column {
	float: left;
	width: 297px;
	text-align: left;
	margin: 40px 15px 110px 15px;
}

.heading {
	color: orange;
	font-size: 23px;
	margin-bottom: 20px;
}

.image {
	text-align: left;
}

.image img {
	width: 100%;
	height: 275px;
}

.image-text {
	font-size: 15px;
	line-height: 1.5em;
	color:#777;
}

.image-link {
	margin-top: 25px;
}

.image-link a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}

.image-link a:hover {
	color: #777;
}

.footer {
	width: 100%;
	border-top: solid #D3D3D3 1px;
	margin-bottom: 90px;
}

.credits {
	margin: 45px 70px 45px 70px;
	text-align: center;
	font-family: "Montserrat-Regular";
	font-size: 13px;
	color:#777;
	font-style: italic;
}

.credits a {
	text-decoration: none;
	color: black;
}

.credits a:hover {
	color: #777;
}

.footer-images {
	text-align: center;
}
.footer-images img {
	height: 28px;
	width: 28px;
	margin: 0px 5px 0px 5px;
}